/*Images in the locations*/
.location img {
    height: 100px;
    width: 100px;
    
}

.location span {
    width: 100px;
    
}

.location txt {
    font: 10px;
}

/*Images on top of the locations*/
.headImage {
    height: 100px;
    float: left;

}

/*The two locations where items can be*/
.location {
    border: 1px solid black;
    height: 300px;
    width: 300px;

}

div {
    float: left;
    text-align: center;
}

.interfaceHalf {
    width: 325px;

}



