/*Images in the locations*/
.location img {
    height: 100px;
    width: 100px;
    
}


/*Images on top of the locations*/
.headImage {
    height: 100px;

}

/*
#group {
    
}
*/

.clickInfo {
    text-align: center;
}

/*The two locations where items can be*/
.location {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    float: left;

}

.item {
    width:100px;
    float: left;
    
}

.interfaceHalf {
    width: 325px;
    text-align: center;
    float: left;
    

}



